APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120


RAZORPAY_KEY=rzp_test_Rcx3E3rF2dNmEc
RAZORPAY_SECRET=Ol9wAXzijPt1iifMrrCtG6Zz


OPENAI_API_KEY="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"

CLOUDINARY_CLOUD_NAME="dtspifxvx"
CLOUDINARY_API_KEY="135174434821189"
CLOUDINARY_API_SECRET="VtQOphNR4cecTvo9ZcYuoo_lSME"

CLOUDINARY_URL=cloudinary://135174434821189:VtQOphNR4cecTvo9ZcYuoo_lSME@dtspifxvx
